/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* Part A */

/*Problem 2*/
body{
  background-color: skyblue; 
}

/*Problem 3*/
#igottabeme{
   font-family: Arial, Helvetica, sans-serif;
}

/*Problem 4*/
.classy{
   margin-left: 10px;
}

/*Part B */
/*Problem 5*/
div{
  margin-bottom: 50px; 
}

/*Problem 6*/
span{
  width: 100px;
  height: 50px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  background-color: yellow;
}

/*Problem 7*/
span.a{
  word-wrap: normal;
}

span.b{
  display: block;
}

span.c{
  word-wrap: normal;
  display: inline-block;
}

/*Part C*/
/*Problem 8*/
img[alt="cat icon"]{
  position:fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Problem 9*/
img[alt="dog icon"]{
  position: relative;
  right: 50px;
  bottom: 150px;
}

/*Problem 10*/
#positionMe{
  background-color: orange;
}

img[alt="bird icon"]{
  position:absolute;
  padding-top: 50px;
  padding-left: 250px;
  z-index: 1;
}

/*Problem 11*/
nav{
  position: sticky;
  top:0;
  right:0;
  z-index: 2;
  background-color: rgba(51, 170, 51, .9);
  padding: 5px;
  font-size: 20px; 
}

/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
